# Banco de Dados
MONGODB_URI=mongodb+srv://...

# Autenticação (NextAuth.js)
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_BASE_PATH=
NEXTAUTH_SECRET=sua_chave_secreta_aqui

# Google OAuth
GOOGLE_CLIENT_ID=seu_client_id_aqui
GOOGLE_CLIENT_SECRET=seu_client_secret_aqui

# Cloudinary (Opcional, se usar para imagens)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=seu_cloud_name

# Configurações do App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Configurações da API do Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=sua_chave_de_api_aqui

# E-mail (Resend - https://resend.com)
RESEND_API_KEY=re_xxxxxxxxxxxxxx
EMAIL_FROM=noreply@seudominio.com